$white: #ffff;
$primary: #e14982;
$secondary: #8563dd;

.homepage {
  width: 100%;
  height: 100vh;
  max-height: 1000px;
  background: url("../assets/homepagebanner.png"), no-repeat;
  background-size: cover;
  padding: 5em 0em;
  padding-top: 7em;
  display: flex;
  align-items: center;
}

.homepage___wrapper {
  height: fit-content;
  width: calc(100% - 3.5em);
  max-width: 1340px;
  margin: 0 auto;
  height: fit-content;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    236deg,
    rgba(225, 73, 130, 1) 38%,
    rgba(133, 99, 221, 1) 87%
  );
  padding: 4em 4em;
  border-radius: 20px;
}
.homepage___wrapper__overlay {
  display: flex;
  align-items: center;
}
.homepage___wrapper__left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 300px;
}
