$white: #ffff;
$primary: #e14982;
$secondary: #8563dd;
.sign__in__overlay__header__entry img {
  width: 220px;
}
.secretrecovery__overlay__card {
  width: calc(100% - 1em);
  max-width: 800px;
  background: linear-gradient(
    236deg,
    rgba(225, 73, 130, 1) 38%,
    rgba(133, 99, 221, 1) 87%
  );
  padding: 4em 2em;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: fit-content;
}
.secretrecovery__overlay__card__heading {
  width: 100%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  color: white;
  margin-bottom: 0.7em;
}
.secretrecovery__overlay__card__detail {
  max-width: 550px;
  margin: 0px auto;
  text-align: center;
  color: $white;
}
.secretrecovery__overlay__card__detail__subheading {
  font-size: 14px;
}
.secretrecovery__overlay__card__detail__warning {
  margin: 0.5em 0em;
  font-size: 14px;
  font-weight: 500;
}
.secretrecovery__overlay__card__detail__data__entry {
  width: 100%;
  margin-top: 1.5em;
}
.secretrecovery__overlay__card__detail__data__entry__input {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5em;
}
.secretrecovery__overlay__card__detail__data__entry__input__entry {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  margin-top: 1em;
}
.secretrecovery__overlay__card__detail__data__entry__input__entry__heading {
  font-size: 14px;
  font-weight: 500;
  color: $white;
  margin-top: 0.5em;
  min-width: 80px;
  white-space: nowrap;
}
.secretrecovery__overlay__card__detail__data__entry__input__entry__middle__top {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.secretrecovery__overlay__card__detail__data__entry__input__entry__middle {
  width: 100%;
  height: 40px;
  border-radius: 15px;
  border: 1px solid transparent;
  padding: 0em 1.5em;
  outline: 1px solid transparent;
}
.secretrecovery__overlay__card__detail__data__entry__input__entry__middle:hover {
  border-color: $primary;
  transition: 300ms ease-in-out;
}
.secretrecovery__overlay__card__detail__data__entry__input__entry__middle:focus {
  outline-color: $primary;
  transition: 300ms ease-in-out;
  border-color: $primary;
}
.secretrecovery__overlay__card__detail__data__entry__input__entry__middle__text__area {
  width: 100%;
  height: 100px;
  border: 1px solid transparent;
  outline: 0.5px solid transparent;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 500;
  padding: 1em 1.5em;
  resize: none;
}
.secretrecovery__overlay__card__detail__data__entry__input__entry__placeholder__text__area {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border: 1px solid transparent;
  padding: 0em 1.5em;
  background-color: rgba(0, 0, 0, 0.9999);
  outline: 1px solid transparent;
  display: flex;
  align-items: center;
  color: $white;
  justify-content: center;
  cursor: pointer;
}
.secretrecovery__overlay__card__detail__data__entry__input__entry__placeholder__text__area
  svg {
  margin-right: 0.5em;
  color: $white;
}
.secretrecovery__overlay__card__detail__data__entry__input__entry__middle__text__area:hover {
  border-color: $primary;
  transition: 300ms ease-in-out;
}
.secretrecovery__overlay__card__detail__data__entry__input__entry__middle__text__area:focus {
  outline-color: $primary;
  border-color: $primary;
  transition: 300ms ease-in-out;
}
.secretrecovery__overlay__card__detail__data__entry__input__entry__svg {
  margin-left: 0.5em;
  margin-top: 0.5em;
}
.secretrecovery__overlay__card__detail__data__entry__input__entry__svg svg {
  color: $white;
  cursor: pointer;
}
.secretrecovery__overlay__card__detail__data__entry__input__entry__svg
  svg:hover {
  color: #8563dd;
}
.secretrecovery__overlay__card__bottom__btns {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.secretrecovery__overlay__card__bottom__btns__back {
  height: 40px;
  padding: 0em 3em;
  color: $white;
  background-color: transparent;
  border-radius: 50px;
  font-size: 14px;
  margin: 0em 0.5em;
  border: 1px solid $white;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
}
.secretrecovery__overlay__card__bottom__btns__back:hover {
  background-color: $white;
  color: $primary;
  transition: 300ms ease-in-out;
}
.secretrecovery__overlay__card__detail__data__entry__input__entry__middle__container {
  width: 100%;
  position: relative;
  margin: 0em 1em;
}
.secretrecovery__overlay__card__detail__data__entry__input__entry__placeholder {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 40px;
  border-radius: 15px;
  border: 1px solid transparent;
  padding: 0em 1.5em;
  background-color: rgba(0, 0, 0, 0.9999);
  outline: 1px solid transparent;
  display: flex;
  align-items: center;
  color: $white;
  justify-content: center;
  cursor: pointer;
}
.secretrecovery__overlay__card__detail__data__entry__input__entry__placeholder
  svg {
  margin-right: 0.5em;
  color: $white;
}
.secret__entry {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin: 0em auto;
  margin-bottom: 1em;
  max-width: 600px;
}
.secretrecovery__overlay__card__detail__subheading:last-child {
  margin-bottom: 2em;
}
.secret__entry__label {
  flex: 1;
  max-width: 120px;
  color: white;
  margin-top: 0.5em;
  font-size: 14px;
}
.secret__entry__label__data {
  display: flex;
  font-size: 14px;
  flex: 1;
  align-items: flex-start;
}
.secret__entry__content {
  flex: 1;
  background-color: white;
  border-radius: 10px;
  padding: 0.5em 1em;
  position: relative;
  min-height: 40px;
  display: flex;
  align-items: center;
}
.secret__entry__content__overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: black;
  border-radius: 10px;
  min-height: 40px;
  color: white;
}
.secret__entry__content__overlay svg {
  margin-right: 1em;
}
.secret__entry__button {
  padding: 0em;
  margin-left: 1em;
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: none;
  margin-top: 0.5em;
}
.secret__entry__content__data {
  font-size: 14px;
}
@media (max-width: 800px) {
  .secretrecovery__overlay__card__heading {
    font-size: 30px;
  }
}
@media (max-width: 650px) {
  .secret__entry {
    flex-direction: column;
  }
  .secret__entry__label {
    margin-top: 0em;
    margin-bottom: 0.5em;
  }
  .secret__entry__label__data {
    width: 100%;
  }
}
@media (max-width: 550px) {
  .secretrecovery__overlay__card__heading {
    font-size: 25px;
  }
  .secretrecovery__overlay__card {
    padding: 3em 1.5em;
  }
  .secret__entry__button {
    margin-left: 5px;
  }
  .secretrecovery__overlay__card__detail__data__entry__input__entry__heading {
    margin-top: 0em;
  }
  .secretrecovery__overlay__card__detail__data__entry__input {
    flex-direction: column;
  }
  .secretrecovery__overlay__card__detail__data__entry__input__entry__middle__container {
    margin: 0em 0em;
    margin-top: 0.5em;
  }
  .secretrecovery__overlay__card__detail__data__entry__input__entry__placeholder,
  .secretrecovery__overlay__card__detail__data__entry__input__entry__placeholder__text__area {
    font-size: 13px;
  }
  .secretrecovery__overlay__card__detail__data__entry__input__entry__svg {
    display: none;
  }
  .secretrecovery__overlay__card__detail__data__entry__input__entry__middle__text__area {
    margin-top: 0.5em;
  }
}
@media (max-width: 400px) {
  .secretrecovery__overlay__card__detail__data__entry__input__entry__svg {
    display: none;
  }
  .secretrecovery__overlay__card__detail__data__entry__input__entry__middle,
  .secretrecovery__overlay__card__detail__data__entry__input__entry__text__are {
    margin-right: 0em;
  }
  .secret__entry__content__overlay svg {
    margin-right: 0.4em;
  }
}
